<nav>
    <!--aquí fiquem totes les opciones que vulguem fer 
        amb el nostre fitxer de productes-->
    <ul>
        <li>
            <a href="index.php">Home</a>
        </li>
        <li>
            <a href="index.php?menu=products&option=form_add">Add product</a>
        </li>
        <li>
            <a href="index.php?menu=products&option=list_all">List products</a>
        </li>
        <li>
            <a href="index.php?menu=products&option=searchById">Search by id</a>
        </li>
        
    </ul>
</nav>
